%body
  .container
    / Jumbotron Header
    %header.jumbotron.hero-spacer
      %h1 
        = @hospital.name
      %p 
        = @hospital.description
      %center
        %br
        = link_to "Sign In A Patient", new_hospital_patient_path(@hospital), class: "btn btn-success btn-large"
    %hr/
    / Title
    .row
      .col-lg-12
        %h3 Our Patients
        
      .row.text-center
        - @hospital.patients.each do |patient|
          .col-md-3.col-sm-6.hero-feature
            .thumbnail
              %img{:src => "http://lorempixel.com/800/500/people/#{rand 1..10}"}/
              .caption
                %h3
                  = patient.first_name
                  = patient.last_name
                %p
                  = truncate(patient.reason, :length => 80)
                %p
                  = link_to "View Patient", hospital_patient_path(@hospital, patient), class: "btn btn-sm btn-success"
= form_for @doctor, url: create_doctor_hospital_path(@hospital) do |f|
  = f.label :dr_name, "Add Doctor to Hospital"
  = f.text_field :dr_name
  %br
  = f.submit "Submit", class: "submit_btn", disabled: 'disabled'
%br
%strong
  Doctors
%ul.doctor_list
  - @hospital.doctors.each do |doctor|
    - if doctor.dr_name
      %li
        = doctor.dr_name
        = link_to "|Delete Doctor|", delete_doctor_hospital_path(@hospital, doctor_id: doctor.id), method: :delete

    %hr
    %center
      = link_to "Edit Hospital", edit_hospital_path(@hospital), class: "btn btn-primary", method: :get
      = link_to "Delete Hospital", hospital_path(@hospital), method: :delete, class: "btn btn-danger"
    %hr
    / Footer
    %footer
      .row
        .col-lg-12
          %p Copyright © Your Website 2014
  / /.container
  / jQuery
  %script{:src => "js/jquery.js"}
  / Bootstrap Core JavaScript
  %script{:src => "js/bootstrap.min.js"}